@import '../../variable';

.execution_container {
    background-color: $primary_color;
    margin: 50px 0;

    .execution {
        display: grid;
        grid-template-columns: 1fr 1fr;

        @media screen and (max-width: 662px) {
            grid-template-columns: 1fr;
        }

        .image {
            img {
                width: 100%;
                object-fit: cover;
                height: auto;
                padding: 50px 0;

                // @media screen and (max-width: 828px) {
                //     height: 250px;
                // }
            }
        }

        .details {
            margin: auto;

            @media screen and (max-width: 662px) {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
            }

            .icon {
                img {
                    // width: 100%;
                    height: 80px;
                    padding: 10px;
                }
            }

            .exp {
                color: #7f5fa9;
                text-transform: uppercase;
                font-family: 'Roboto', sans-serif;
                font-size: 16px;
                font-weight: 600;
            }

            h1 {
                font-weight: 700;
                color: white;
                font-family: 'Roboto', sans-serif;
                padding: 5px;

                @media screen and (max-width: 662px) {
                    text-align: center;
                }
            }

            h3 {
                font-weight: 500;
                color: white;
                font-family: 'Roboto', sans-serif;
                padding: 5px;
                font-size: 20px;

                @media screen and (max-width: 662px) {
                    text-align: center;
                }
            }

            .desc {
                line-height: 1.3;
                font-size: 18px;
                font-family: "Nunito Sans", sans-serif;
                color: #f0f0f0;
                padding: 0 5px;
                max-width: 90%;
                text-align: justify;

                @media screen and (max-width: 662px) {
                    text-align: center;
                    padding: 10px 0;
                }
            }
        }
    }
}