@import '../../variable';

.mobile_slides_container {
    .mySwiper {
        padding: 50px 0;
        background-color: #F8F8F8;

        .single_container {

            img {
                object-fit: contain;
                width: 100%;
                height: 600px;
                position: relative;
                transition: all 0.3s ease;

                @media screen and (max-width: 592px) {
                    height: auto;
                }
            }
        }  
    }

    .ExploreButton {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media screen and (max-width: 722px) {
            flex-direction: column;
        }
    }
}