.acquisition_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 50px 0;

    @media screen and (max-width: 1002px) {
        grid-template-columns: 100%;
    }

    @media screen and (max-width: 672px) {
        padding: 20px 0;
    }

    .acquisition_details {
        padding: 70px 50px;

        @media screen and (max-width: 592px) {
            padding: 10px;
        }

        h2 {
            font-size: 28px;
            font-family: 'Roboto', sans-serif;
            font-weight: 700;
        }

        h3 {
            font-family: "Montserrat", Helvetica, Arial, sans-serif;
            font-weight: 700;
            color: #80af41;
            font-size: 24px;
            line-height: 1.3;
            // text-align: justify;

            @media screen and (max-width: 672px) {
                font-size: 20px;
                font-weight: 400;
            }
        }

        p {
            font-size: 16px;
            margin-top: 20px;
            font-family: 'Roboto', sans-serif;
            line-height: 1.3;
        }

        .choosePlan {
            margin: 15px 0 0 0;
            border: none;
            padding: 15px 40px;
            font-size: 18px;
            font-weight: 400;
            font-family: 'Roboto', sans-serif;
            cursor: pointer;
            background-color: #1D3060;
            color: white;
            text-align: center;
        }
    }

    .acquisition_image,
    .acquisition_image2 {
        display: grid;
        grid-template-columns: 1fr 1fr;

        @media screen and (max-width: 1002px) {
            display: none;
        }

        .firstCol {
            background: linear-gradient(to bottom, #00000090, #9c9c9c90), url('/services/talent/bg3.jpg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            // height: 400px;
            // width: 300px;
            position: relative;

            // @media screen and (max-width: 1002px) {
            //     position: absolute;
            // }

            .firstCol_details {
                position: absolute;
                top: 35%;
                left: 40%;
                transform: translate(-50%, 0);

                h3 {
                    color: white;
                    font-size: 20px;
                    font-weight: 700;
                    font-family: 'Roboto', sans-serif;
                }

                h1 {
                    color: white;
                    font-size: 48px;
                    font-weight: 900;
                    font-family: 'Roboto', sans-serif;
                }

                p {
                    font-size: 16px;
                    font-family: 'Roboto', sans-serif;
                    font-weight: 300;
                    color: rgb(232, 232, 232);
                }
            }
        }

        .secondCol {
            background: linear-gradient(to bottom, #00000090, #ffffff91), url('/services/talent/bg4.jpg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            // height: 400px;
            // width: 300px;
            position: relative;

            .secondCol_details {
                margin: auto;
                position: absolute;
                top: 25%;
                left: 40%;
                transform: translate(-50%, 0);

                h2 {
                    color: white;
                    font-size: 28px;
                    font-weight: 700;
                    font-family: 'Roboto', sans-serif;
                    line-height: 1.2;
                }

                p {
                    font-size: 16px;
                    font-family: 'Roboto', sans-serif;
                    font-weight: 300;
                    color: rgb(232, 232, 232);
                }
            }
        }
    }

    .acquisition_image2 {
        display: none;

        @media screen and (max-width: 1002px) {
            display: block;
        }
    }
}

.acquisition_container_mobile {
    display: none;

    @media screen and (max-width: 1002px) {
        display: block;
    }

    .acquisition_image {
        display: grid;
        grid-template-columns: 1fr 1fr;

        @media screen and (max-width: 726px) {
            grid-template-columns: 1fr;
        }

        .firstCol {
            background: linear-gradient(to bottom, #00000090, #9c9c9c90), url('/services/talent/bg3.jpg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 300px;
            position: relative;
            // width: 300px;

            // @media screen and (max-width: 1002px) {
            //     position: absolute;
            // }

            .firstCol_details {

                margin: 0 auto;
                position: absolute;
                top: 25%;
                left: 5%;
                // transform: translate(-50%, 0);

                h3 {
                    color: white;
                    font-size: 20px;
                    font-weight: 700;
                    font-family: 'Roboto', sans-serif;
                }

                h1 {
                    color: white;
                    font-size: 48px;
                    font-weight: 900;
                    font-family: 'Roboto', sans-serif;
                }

                p {
                    font-size: 16px;
                    font-family: 'Roboto', sans-serif;
                    font-weight: 300;
                    color: rgb(232, 232, 232);
                }
            }
        }

        .secondCol {
            background: linear-gradient(to bottom, #00000090, #ffffff91), url('/services/talent/bg4.jpg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            // height: 400px;
            // width: 300px;
            position: relative;

            @media screen and (max-width: 726px) {
                display: none;
            }

            .secondCol_details {
                margin: auto;
                position: absolute;
                top: 25%;
                left: 40%;
                transform: translate(-50%, 0);

                h2 {
                    color: white;
                    font-size: 28px;
                    font-weight: 700;
                    font-family: 'Roboto', sans-serif;
                    line-height: 1.2;
                }

                p {
                    font-size: 16px;
                    font-family: 'Roboto', sans-serif;
                    font-weight: 300;
                    color: rgb(232, 232, 232);
                }
            }
        }

    }
}