.ensurity_container {
    h1 {
        color: black;
        font-size: 40px;
        font-weight: 900;
        font-family: 'Roboto', sans-serif;
        line-height: 1.2;
        text-align: center;
        padding: 35px 0 15px 0;

        @media screen and (max-width: 592px) {
            font-size: 32px;
        }
    }

    .ensurity_container_list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;

        @media screen and (max-width: 838px) {
            grid-template-columns: 1fr 1fr;
        }

        @media screen and (max-width: 542px) {
            grid-template-columns: 1fr;
        }

        .single_ensurity_container {
            text-align: center;
            padding: 20px 10px;
            margin: 30px 10px;
            border: 1px solid #E7E7E7;
            border-radius: 7px;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

            transition: all 0.3s ease;

            &:hover {
                background-color: #E7E7E7;
            }

            @media screen and (max-width: 592px) {
                margin: 10px 10px;
            }


            h2 {
                font-size: 22px;
                font-family: 'Roboto', sans-serif;
                font-weight: 700;
                line-height: 1.1;
                padding: 5px 10px;
                margin: 10px 0;
            }

            p {
                font-size: 16px;
                font-family: 'Roboto', sans-serif;
                line-height: 1.3;
            }
        }
    }
}