@import '../../variable';

.service_header_root_container {
    background-color: $primary_color;
  
    .service_header_container {
        display: grid;
        grid-template-columns: 47% 47%;
        gap: 5%;
        padding: 10px;
        align-items: center;
        // height: 450px;
  
        @media screen and (max-width: 738px) {
            grid-template-columns: 1fr;
            padding: 10px 0 50px 0;
            gap: 0;
        }
  
        .service_img {
            img {
                width: 100%;
                object-fit: contain;
                height: 400px;
  
                @media screen and (max-width: 738px) {
                    height: auto;
                }
            }
        }
  
        .service_header_details_container {
            color: white;
            padding: 0 10px;
  
            h1 {
                color: white;
                font-size: 40px;
                font-weight: 900;
                font-family: 'Roboto', sans-serif;
                line-height: 1.2;


                @media screen and (max-width: 738px) {
                    font-size: 30px;
                }
            }
  
            .service_header_details {
                display: flex;
                justify-content: center;
                align-items: center;
  
                .service_header_single_service {
                    margin: 20px 5px;
                }
  
                h2 {
                    color: white;
                    line-height: 1.1;
  
                    @media screen and (max-width: 738px) {
                        margin-top: 5px;
                    }
                }
  
                .service_desc {
                    font-size: 16px;
                    font-family: 'Roboto', sans-serif;
                    line-height: 1.4;
                    margin-top: 5px;
                    max-width: 95%;
  
                    @media screen and (max-width: 738px) {
                        margin-top: 8px;
                    }
                }
            }
  
            .it_desc {
                font-size: 18px;
                font-family: 'Roboto', sans-serif;
                line-height: 1.4;
                margin-top: 5px;
                text-align: justify;
                text-justify: inter-word;
                margin-top: 10px;
            }
        }
    }
  }