.dm_services_container {
    .plans_title_desc {
        text-align: center;

        h1 {
            color: black;
            font-size: 40px;
            font-weight: 900;
            font-family: 'Roboto', sans-serif;
            line-height: 1.2;
            padding: 25px 0 15px 0;

            @media screen and (max-width: 592px) {
                font-size: 32px;
                padding: 15px 0;
            }
        }

        p {
            font-size: 18px;
            font-family: 'Roboto', sans-serif;
            line-height: 1.3;
        }
    }

    .list_container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        margin: 15px 10px;

        @media (max-width: 792px) {
            grid-template-columns: 1fr;
        }

        .singleService {
            border: 1px solid #c3c3c3;
            border-radius: 10px;
            padding: 20px;
            display: flex;
            align-items: center;
            justify-content: center;

            .heading_title {
                .heading {
                    h1 {
                        font-size: 30px;
                        font-weight: 500;
                        line-height: 1.1;
                        color: black;
                        font-family: 'Roboto', sans-serif;
                        opacity: 0.8;

                        @media screen and (max-width: 828px) {
                            font-size: 22px;
                            text-align: center;
                        }

                        @media (max-width: 792px) {
                            display: flex;
                            justify-content: flex-start;
                            padding: 0 !important;
                        }
                    }

                    p {
                        font-family: 'Roboto', sans-serif;
                        font-size: 16px;
                        opacity: 0.8;
                    }
                }

                .lists {
                    // margin-left: 15px;
                    margin-top: 15px;

                    ul {
                        list-style: none;
                        display: flex;
                        align-items: center;
                        // line-height: 1.1;

                        li {
                            font-family: 'Roboto', sans-serif;
                            font-size: 16px;
                            opacity: 0.8;
                            margin-left: 5px;
                        }
                    }
                }
            }

            .img {

                @media (max-width: 792px) {
                    display: none;
                }
                img {
                    max-width: 100%;
                    height: 300px;
                    object-fit: contain;
                }
            }

            hr {
                border: none;
                height: 2px;
                background-image: linear-gradient(90deg, #f0f0f0, #0ac0a6, #f0f0f0);
            }

            .btn_container {
                margin-top: 10px;

                button {
                    border: none;
                    padding: 10px 15px;
                    font-size: 16px;
                    font-weight: 300;
                    font-family: "Roboto", sans-serif;
                    cursor: pointer;
                    background-color: #1D3060;
                    color: #ffffff;
                    text-align: center;
                    width: 25%;
                    font-weight: 400;

                    @media (max-width: 1012px) {
                        width: 50%;
                    }

                    @media (max-width: 512px) {
                        width: 50%;
                    }
                }
            }
        }
    }
}